[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rq = "*"
google-cloud-pubsub = "*"
requests = "*"
html2text = "*"
tqdm = "*"

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
pyinstrument = "*"

[requires]
python_version = "3.10"
